<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.seasar.dolteng.eclipse.headmeisai">
		<templates
			enablement="org.seasar.dolteng.headmeisai.enabler.TeedaS2DaoEnabler"
			id="0" name="Teeda + S2Dao (use public field)"
			resourceLoader="org.seasar.dolteng.headmeisai.ScaffoldResourceLoader">
			
			<template path="template/fm/java_entity_s2dao_public.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${entitypackagename}/"
				outputname="${table_capitalize}.java" />
			<template path="template/fm/java_entity_s2dao_public_meisai.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${entitypackagename}/"
				outputname="${meisaitable_capitalize}.java" />
			<template path="template/fm/java_entity_s2dao_public_meisai_dto.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${dtopackagename}/"
				outputname="${meisaitable_capitalize}Dto.java" />
			
			<template path="template/fm/java_pager_condition.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${pagingpackagename}/"
				outputname="${table_capitalize}PagerCondition.java" />
			
			<template path="template/fm/java_dao_s2dao.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${daopackagename}/"
				outputname="${table_capitalize}${daosuffix}.java" />
			<template path="template/fm/java_dao_s2dao_meisai.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${daopackagename}/"
				outputname="${meisaitable_capitalize}${daosuffix}.java" />
				
			<template path="template/fm/java_crud.ftl" override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/"
				outputname="CrudType.java" />
			<template path="template/fm/java_page_crud_public.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/"
				outputname="AbstractCrud${pagesuffix}.java" />
			<template path="template/fm/java_dxo_s2dao.ftl"
				override="true"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="${table_capitalize}${dxosuffix}.java" />
			<template path="template/fm/java_page_abstract_public.ftl"
				override="true"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="Abstract${table_capitalize}${pagesuffix}.java" />
			<template path="template/fm/java_page_list_s2dao_public.ftl"
				override="true"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="${table_capitalize}List${pagesuffix}.java" />
			<template path="template/fm/java_page_edit_s2dao_public.ftl"
				override="true"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="${table_capitalize}Edit${pagesuffix}.java" />
			<template path="template/fm/java_page_confirm_s2dao_public.ftl"
				override="true"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="${table_capitalize}Confirm${pagesuffix}.java" />
			<template path="template/fm/properties_label_root.ftl"
				override="true"
				outputpath="${resourceroot}/${rootpackagepath}/${subapplicationrootpackagename}/"
				outputname="label.properties" />
			<template path="template/fm/properties_label.ftl"
				override="true"
				outputpath="${resourceroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="label.properties" />

			<template path="template/fm/resource_pager_sql.ftl"
				override="true"
				outputpath="${resourceroot}/${rootpackagepath}/${daopackagename}/"
				outputname="${table_capitalize}${daosuffix}_findBy${orderbyString}PagerCondition.sql" />

			<template path="template/fm/html_css.ftl" override="false"
				outputpath="${webcontentsroot}/css/" outputname="global.css" />
			<template path="template/fm/html_list.ftl" override="true"
				outputpath="${webcontentsroot}/${viewrootpath}/${table}/"
				outputname="${table}List.html" />
			<template path="template/fm/html_edit.ftl" override="true"
				outputpath="${webcontentsroot}/${viewrootpath}/${table}/"
				outputname="${table}Edit.html" />
			<template path="template/fm/html_confirm.ftl"
				override="true"
				outputpath="${webcontentsroot}/${viewrootpath}/${table}/"
				outputname="${table}Confirm.html" />
		</templates>
		
		<templates
			enablement="org.seasar.dolteng.headmeisai.enabler.TeedaS2DaoEnabler"
			id="1" name="Teeda + S2Dao"
			resourceLoader="org.seasar.dolteng.headmeisai.ScaffoldResourceLoader">
			
			<template path="template/fm/java_entity_s2dao.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${entitypackagename}/"
				outputname="${table_capitalize}.java" />
			<template path="template/fm/java_entity_s2dao_meisai.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${entitypackagename}/"
				outputname="${meisaitable_capitalize}.java" />
			<template path="template/fm/java_entity_s2dao_meisai_dto.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${dtopackagename}/"
				outputname="${meisaitable_capitalize}Dto.java" />
			
			<template path="template/fm/java_pager_condition.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${pagingpackagename}/"
				outputname="${table_capitalize}PagerCondition.java" />
			
			<template path="template/fm/java_dao_s2dao.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${daopackagename}/"
				outputname="${table_capitalize}${daosuffix}.java" />
			<template path="template/fm/java_dao_s2dao_meisai.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${daopackagename}/"
				outputname="${meisaitable_capitalize}${daosuffix}.java" />
				
			<template path="template/fm/java_crud.ftl" override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/"
				outputname="CrudType.java" />
			<template path="template/fm/java_page_crud.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/"
				outputname="AbstractCrud${pagesuffix}.java" />
			<template path="template/fm/java_dxo_s2dao.ftl"
				override="true"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="${table_capitalize}${dxosuffix}.java" />
			<template path="template/fm/java_page_abstract.ftl"
				override="true"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="Abstract${table_capitalize}${pagesuffix}.java" />
			<template path="template/fm/java_page_list_s2dao.ftl"
				override="true"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="${table_capitalize}List${pagesuffix}.java" />
			<template path="template/fm/java_page_edit_s2dao.ftl"
				override="true"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="${table_capitalize}Edit${pagesuffix}.java" />
			<template path="template/fm/java_page_confirm_s2dao.ftl"
				override="true"
				outputpath="${javasrcroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="${table_capitalize}Confirm${pagesuffix}.java" />
			<template path="template/fm/properties_label_root.ftl"
				override="true"
				outputpath="${resourceroot}/${rootpackagepath}/${subapplicationrootpackagename}/"
				outputname="label.properties" />
			<template path="template/fm/properties_label.ftl"
				override="true"
				outputpath="${resourceroot}/${rootpackagepath}/${subapplicationrootpackagename}/${table}/"
				outputname="label.properties" />

			<template path="template/fm/resource_pager_sql.ftl"
				override="true"
				outputpath="${resourceroot}/${rootpackagepath}/${daopackagename}/"
				outputname="${table_capitalize}${daosuffix}_findBy${orderbyString}PagerCondition.sql" />

			<template path="template/fm/html_css.ftl" override="false"
				outputpath="${webcontentsroot}/css/" outputname="global.css" />
			<template path="template/fm/html_list.ftl" override="true"
				outputpath="${webcontentsroot}/${viewrootpath}/${table}/"
				outputname="${table}List.html" />
			<template path="template/fm/html_edit.ftl" override="true"
				outputpath="${webcontentsroot}/${viewrootpath}/${table}/"
				outputname="${table}Edit.html" />
			<template path="template/fm/html_confirm.ftl"
				override="true"
				outputpath="${webcontentsroot}/${viewrootpath}/${table}/"
				outputname="${table}Confirm.html" />
		</templates>











		<templates
			enablement="org.seasar.dolteng.headmeisai.enabler.SAStrutsEnabler"
			id="2" name="SAStruts"
			resourceLoader="org.seasar.dolteng.headmeisai.ScaffoldResourceLoader"
			scaffoldModelFactory="org.seasar.dolteng.headmeisai.factory.SAStrutsScaffoldModelFactory">
			<template path="template/fm/java_entity_s2jdbc.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${entitypackagename}/"
				outputname="${table_capitalize}.java" />

			<template path="template/fm/java_entity_s2jdbc_meisai.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${entitypackagename}/"
				outputname="${meisaitable_capitalize}.java" />

			<template path="template/fm/java_service_abstract_s2jdbc.ftl"
                override="false"
                outputpath="${javasrcroot}/${rootpackagepath}/${servicepackagename}/"
                outputname="AbstractService.java" />
			<template path="template/fm/java_service_s2jdbc.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${servicepackagename}/"
				outputname="${table_capitalize}${servicesuffix}.java" />

			<template path="template/fm/java_service_s2jdbc_meisai.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${servicepackagename}/"
				outputname="${meisaitable_capitalize}${servicesuffix}.java" />

			<template path="template/fm/java_action_sastruts.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${actionpackagename}/"
				outputname="${table_capitalize}${actionsuffix}.java" />
			<template path="template/fm/java_form_sastruts.ftl"
				override="false"
				outputpath="${javasrcroot}/${rootpackagepath}/${formpackagename}/"
				outputname="${table_capitalize}${formsuffix}.java" />
			<template path="template/fm/html_css.ftl" override="false"
				outputpath="${webcontentsroot}/css/" outputname="global.css" />
			<template path="template/fm/jsp_list_sastruts.ftl" override="false"
				outputpath="${webcontentsroot}/${viewrootpath}/${table}/"
				outputname="list.jsp" />
			<template path="template/fm/jsp_create_sastruts.ftl"
				override="false"
				outputpath="${webcontentsroot}/${viewrootpath}/${table}/"
				outputname="create.jsp" />
			<template path="template/fm/jsp_edit_sastruts.ftl"
				override="false"
				outputpath="${webcontentsroot}/${viewrootpath}/${table}/"
				outputname="edit.jsp" />
			<template path="template/fm/jsp_show_sastruts.ftl"
				override="false"
				outputpath="${webcontentsroot}/${viewrootpath}/${table}/"
				outputname="show.jsp" />
		</templates>









	</extension>
</plugin>
