<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="messageidbasedurl" name="messageidbasedurl" schema="schema/messageidbasedurl.exsd"/>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.seasar.dolteng.console.linker.HttpPatternMatchListener"
            flags="CASE_INSENSITIVE"
            id="org.seasar.dolteng.console.linker.http"
            regex="https?://.*">
         <enablement></enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="org.seasar.dolteng.console.linker.msgid.MessageIdBasedLinker"
            id="org.seasar.dolteng.console.linker.msgId"
            regex="\[[DIWEF](\w|-|_)*\d{4}\]">
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.seasar.dolteng.console.linker.messageidbasedurl">
      <systemToUrl
            baseUrl="http://www.seasar.org/wiki/index.php?"
            systemName="SSR">
      </systemToUrl>
   </extension>

</plugin>
