<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.web.teeda.objectContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature"/>
               <objectState
                     name="projectPersistentProperty"
                     value="org.seasar.dolteng.eclipse.ViewType=Teeda"/>
               <or>
                  <objectState
                        name="name"
                        value="*Page.java"/>
                  <objectState
                        name="name"
                        value="*Action.java"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.docs.action.TeedaExtensionHelpAction"
               icon="icons/help_contents.gif"
               id="org.seasar.dolteng.eclipse.viewer.TeedaExtensionHelpAction"
               label="%teedaExtensionHelp.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.html.teeda.objectContribution"
            nameFilter="*.htm*"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
	            <objectState
	                  name="projectNature"
	                  value="org.seasar.dolteng.eclipse.nature"/>
	            <objectState
	                  name="projectPersistentProperty"
	                  value="org.seasar.dolteng.eclipse.ViewType=Teeda"/>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.docs.action.TeedaComponentHelpAction"
               icon="icons/help_contents.gif"
               id="org.seasar.dolteng.eclipse.viewer.TeedaComponentHelpAction"
               label="%teedaComponentHelp.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.dicon.objectContribution"
            nameFilter="*.dicon"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.seasar.dolteng.eclipse.nature"/>
         </visibility>
         <action
               class="org.seasar.dolteng.docs.action.S2ContainerAllHelpAction"
               icon="icons/help_contents.gif"
               id="org.seasar.dolteng.eclipse.viewer.S2ContainerAllHelpAction"
               label="%s2containerAllHelp.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.dicon.smartdeploy.objectContribution"
            nameFilter="*.dicon"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature"/>
               <or>
                  <objectState
                        name="name"
                        value="convention*"/>
                  <objectState
                        name="name"
                        value="s2container*"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.docs.action.SmartDeployHelpAction"
               icon="icons/help_contents.gif"
               id="org.seasar.dolteng.eclipse.viewer.SmartDeployHelpAction"
               label="%smartdeployHelp.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.dicon.smartdeployconfig.objectContribution"
            nameFilter="*.dicon"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature"/>
               <or>
                  <objectState
                        name="name"
                        value="*creator*"/>
                  <objectState
                        name="name"
                        value="*customizer*"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.docs.action.SmartDeployHelpAction"
               icon="icons/help_contents.gif"
               id="org.seasar.dolteng.eclipse.viewer.SmartDeployHelpAction"
               label="%smartdeployHelp.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.dicon.dbcp.objectContribution"
            nameFilter="*.dicon"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature"/>
               <or>
                  <objectState
                        name="name"
                        value="*jdbc*"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.docs.action.JdbcHelpAction"
               icon="icons/help_contents.gif"
               id="org.seasar.dolteng.eclipse.viewer.JdbcHelpAction"
               label="%dbcpHelp.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.s2dao.objectContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature"/>
               <objectState
                     name="projectPersistentProperty"
                     value="org.seasar.dolteng.eclipse.DaoType=S2Dao"/>
               <or>
                  <objectState
                        name="name"
                        value="*Dao.java"/>
                  <objectState
                        name="name"
                        value="*/entity/*"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.docs.action.S2DaoHelpAction"
               icon="icons/help_contents.gif"
               id="org.seasar.dolteng.eclipse.viewer.S2DaoHelpAction"
               label="%s2DaoHelp.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.kuina.all.objectContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature"/>
               <objectState
                     name="projectPersistentProperty"
                     value="org.seasar.dolteng.eclipse.DaoType=Kuina-Dao"/>
               <or>
                  <objectState
                        name="name"
                        value="*Dao.java"/>
                  <objectState
                        name="path"
                        value="*/entity/*"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.docs.action.KuinaDaoAllHelpAction"
               icon="icons/help_contents.gif"
               id="org.seasar.dolteng.eclipse.viewer.KuinaDaoAllHelpAction"
               label="%kuinaDaoAllHelp.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.kuina.daohelp.objectContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature"/>
               <objectState
                     name="projectPersistentProperty"
                     value="org.seasar.dolteng.eclipse.DaoType=Kuina-Dao"/>
               <or>
                  <objectState
                        name="name"
                        value="*Dao.java"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.docs.action.KuinaDaoHelpAction"
               icon="icons/help_contents.gif"
               id="org.seasar.dolteng.eclipse.viewer.KuinaDaoHelpAction"
               label="%kuinaDaoHelp.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.web.flex2.objectContribution"
            nameFilter="*.*"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature"/>
               <objectState
                     name="projectPersistentProperty"
                     value="org.seasar.dolteng.eclipse.ViewType=Flex2"/>
               <or>
                  <objectState
                        name="name"
                        value="*.mxml"/>
                  <objectState
                        name="name"
                        value="*Service*"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.docs.action.S2Flex2AllHelpAction"
               icon="icons/help_contents.gif"
               id="org.seasar.dolteng.eclipse.viewer.S2Flex2AllHelpAction"
               label="%s2Flex2AllHelp.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
   </extension>

</plugin>
