<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="scaffold" name="scaffold" schema="schema/scaffold.exsd"/>
   <extension-point id="projectType" name="projectType" schema="schema/projectType.exsd"/>
   <extension-point id="headmeisai" name="headmeisai" schema="schema/headmeisai.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.seasar.dolteng.eclipse.preferences.DoltengCommonPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
         class="org.seasar.dolteng.eclipse.preferences.DoltengCommonPreferencePage"
         id="org.seasar.dolteng.eclipse.preference.page"
         name="Dolteng"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.seasar.dolteng.eclipse.preferences.DoltengProjectPreferencePage"
            id="org.seasar.dolteng.eclipse.propertyPages"
            name="Dolteng">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.seasar.dolteng.eclipse.nature.DoltengNature"/>
      </runtime>
   </extension>
   <extension
         id="nature.flex"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.seasar.dolteng.eclipse.nature.FlexNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.seasar.dolteng.eclipse"
            name="Dolteng"/>
      <view
            category="org.seasar.dolteng.eclipse"
            class="org.seasar.dolteng.eclipse.part.DatabaseView"
            id="org.seasar.dolteng.eclipse.databaseView"
            name="DatabaseView"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.seasar.dolteng.eclipse.DatabaseView"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.seasar.dolteng.eclipse"
            name="Dolteng"/>
      <wizard
            canFinishEarly="false"
            category="org.seasar.dolteng.eclipse"
            class="org.seasar.dolteng.eclipse.wizard.TeedaHTMLWizard"
            hasPages="true"
            icon="icons/browser.gif"
            id="teedaHTMLWizard"
            name="Teeda HTML"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.seasar.dolteng.eclipse"
            class="org.seasar.dolteng.eclipse.wizard.NewQueryDtoWizard"
            hasPages="true"
            icon="icons/newclass_wiz.gif"
            id="queryDtoWizard"
            name="SQL based DTO Creation"
            project="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.web.objectContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature"/>
               <or>
                  <objectState
                        name="name"
                        value="*Page.java"/>
                  <objectState
                        name="name"
                        value="*Action.java"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenPagePairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.viewer.OpenPagePairAction"
               label="%openPagePair.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenActionPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.viewer.OpenActionPairAction"
               label="%openActionPair.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.NewServiceAction"
               icon="icons/newclass_wiz.gif"
               id="org.seasar.dolteng.eclipse.viewer.NewServiceAction"
               label="%createService.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
         <action
               class="org.seasar.dolteng.eclipse.action.RefreshMarkerAction"
               icon="icons/refresh.gif"
               id="org.seasar.dolteng.eclipse.viewer.RefreshMarkerAction"
               label="Refresh Marker"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.src.objectContribution"
            objectClass="org.eclipse.jdt.core.IPackageFragmentRoot"
            >
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
           <objectState
                 name="projectNature"
                 value="org.seasar.dolteng.eclipse.nature"/>
         </visibility>
         <action
               class="org.seasar.dolteng.eclipse.action.RegisterMocksAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.object.RegisterMocksAction"
               label="Register Mocks"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.model.objectContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature"/>
               <or>
                  <objectState
                        name="name"
                        value="*Dao.java"/>
                  <objectState
                        name="path"
                        value="*/entity/*"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenDaoPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.viewer.OpenDaoPairAction"
               label="%openDaoPair.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenEntityPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.viewer.OpenEntityPairAction"
               label="%openEntityPair.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.JPAAssociateAction"
               id="org.seasar.dolteng.eclipse.viewer.JPAAssociateAction"
               label="Add JPAAssociation"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2" />
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.html.objectContribution"
            nameFilter="*.htm*"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.seasar.dolteng.eclipse.nature"/>
         </visibility>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenPagePairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.object.OpenPagePairAction"
               label="%openPagePair.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenActionPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.object.OpenActionPairAction"
               label="%openActionPair.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.RefreshMarkerAction"
               icon="icons/refresh.gif"
               id="org.seasar.dolteng.eclipse.object.RefreshMarkerAction"
               label="Refresh Marker"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.ViewOnServerAction"
               enablesFor="1"
               icon="icons/browser.gif"
               id="org.seasar.dolteng.eclipse.object.ViewOnServerAction"
               label="View on Server"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.NewPageWizardAction"
               icon="icons/newclass_wiz.gif"
               id="org.seasar.dolteng.eclipse.newPageAction"
               label="Create New Page Class"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
         <action
               class="org.seasar.dolteng.eclipse.action.AddDynamicPropertyAction"
               enablesFor="1"
               icon="icons/newclass_wiz.gif"
               id="org.seasar.dolteng.eclipse.object.AddDinamicPropertyAction"
               label="Add Dynamic Property"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.ormxml.objectContribution"
            nameFilter="*Orm.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.seasar.dolteng.eclipse.nature"/>
         </visibility>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenDaoPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.object.OpenDaoPairAction"
               label="%openDaoPair.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenEntityPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.object.OpenEntityPairAction"
               label="%openEntityPair.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.sql.objectContribution"
            nameFilter="*.sql"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.seasar.dolteng.eclipse.nature"/>
         </visibility>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenDaoPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.object.OpenDaoPairAction"
               label="%openDaoPair.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenEntityPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.object.OpenEntityPairAction"
               label="%openEntityPair.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.NewQueryDtoAction"
               icon="icons/newclass_wiz.gif"
               id="org.seasar.dolteng.eclipse.object.NewQueryDtoAction"
               label="Create New Dto"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.mxml.objectContribution"
            nameFilter="*.mxml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
           <objectState
                 name="projectNature"
                 value="org.seasar.dolteng.eclipse.nature.flex"/>
         </visibility>
         <action
               class="org.seasar.dolteng.eclipse.action.AddBindingAction"
               id="org.seasar.dolteng.eclipse.mxml.AddBindingAction"
               label="Add Binding Elements"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.NewASPageAction"
               id="org.seasar.dolteng.eclipse.mxml.NewASPageAction"
               label="Create ActionScript Page"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.AddServiceAction"
               id="org.seasar.dolteng.eclipse.mxml.AddServiceAction"
               label="Add S2Flex2 Service"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
         <action
               class="org.seasar.dolteng.eclipse.action.NewAMFServiceAction"
               icon="icons/newclass_wiz.gif"
               id="org.seasar.dolteng.eclipse.mxml.NewAMFServiceAction"
               label="%createService.label"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.as.objectContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature.flex"/>
               <or>
                  <objectState
                        name="name"
                        value="*Dto.java"/>
                  <objectState
                        name="path"
                        value="*/entity/*"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.eclipse.action.NewASDtoAction"
               enablesFor="1"
               icon="icons/newclass_wiz.gif"
               id="org.seasar.dolteng.eclipse.as.NewASDtoAction"
               label="Create New AS Dto"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions2"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.service.objectContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dolteng.eclipse.nature.flex"/>
               <or>
                  <objectState
                        name="name"
                        value="*Service.java"/>
                  <objectState
                        name="name"
                        value="*ServiceImpl.java"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenAsPagePairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.service.OpenAsPagePairAction"
               label="Open Page Pair"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dolteng.eclipse.aspage.objectContribution"
            nameFilter="*.as"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.dolteng.eclipse.menu"
               label="Dolteng"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
             <objectState
                 name="projectNature"
                 value="org.seasar.dolteng.eclipse.nature.flex"/>
         </visibility>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenAsPagePairAction"
               enablesFor="1"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.aspage.OpenAsPagePairAction"
               label="Open Page Pair"
               menubarPath="org.seasar.dolteng.eclipse.menu/additions"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.seasar.dolteng.eclipse.command.category"
            name="Dolteng"/>
      <command
            categoryId="org.seasar.dolteng.eclipse.command.category"
            id="org.seasar.dolteng.eclipse.command.OpenPagePairAction"
            name="OpenPagePair"/>
      <command
            categoryId="org.seasar.dolteng.eclipse.command.category"
            id="org.seasar.dolteng.eclipse.command.OpenActionPairAction"
            name="OpenActionPair"/>
      <command
            categoryId="org.seasar.dolteng.eclipse.command.category"
            id="org.seasar.dolteng.eclipse.command.OpenDaoPairAction"
            name="OpenDaoPair"/>
      <command
            categoryId="org.seasar.dolteng.eclipse.command.category"
            id="org.seasar.dolteng.eclipse.command.OpenEntityPairAction"
            name="OpenEntityPair"/>
      <command
            categoryId="org.seasar.dolteng.eclipse.command.category"
            id="org.seasar.dolteng.eclipse.command.ViewOnServerAction"
            name="ViewOnServer"/>
      <command
            categoryId="org.seasar.dolteng.eclipse.command.category"
            id="org.seasar.dolteng.eclipse.command.OpenAsPagePairAction"
            name="OpenAsPagePair"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.seasar.dolteng.eclipse.command.OpenDaoPairAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+3">
      </key>
      <key
            commandId="org.seasar.dolteng.eclipse.command.OpenEntityPairAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+4">
      </key>
      <key
            commandId="org.seasar.dolteng.eclipse.command.OpenPagePairAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+5">
      </key>
      <key
            commandId="org.seasar.dolteng.eclipse.command.OpenActionPairAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+6">
      </key>
   </extension>
   <extension
         id="pageMapper"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="org.seasar.dolteng.eclipse.pageMapper.mappingType"/>
      <attribute name="org.seasar.dolteng.eclipse.pageMapper.mappingField"/>
   </extension>
   <extension
         id="htmlMapper"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="org.seasar.dolteng.eclipse.htmlMapper.id"/>
      <attribute name="org.seasar.dolteng.eclipse.htmlMapper.htmlpath"/>
      <attribute name="org.seasar.dolteng.eclipse.htmlMapper.mappingElem"/>
   </extension>
   <extension
         id="diMapper"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="org.seasar.dolteng.eclipse.pageMapper.mappingType"/>
   </extension>
   <extension
         id="kuinaError"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="org.seasar.dolteng.eclipse.kuinaError.errorType"/>
      <attribute name="org.seasar.dolteng.eclipse.kuinaError.methodName"/>
      <attribute name="org.seasar.dolteng.eclipse.kuinaError.paramName"/>
   </extension>
   <extension
         id="sqlMapper"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="org.seasar.dolteng.eclipse.sqlMapper.htmlpath"/>
   </extension>
   <extension
         id="sqlErrorMapper"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.seasar.dolteng.eclipse.sqlMapper"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/synced.gif"
            id="org.seasar.dolteng.eclipse.imageprovider.page"
            markertype="org.seasar.dolteng.eclipse.pageMapper"/>
      <imageprovider
            icon="icons/synced.gif"
            id="org.seasar.dolteng.eclipse.imageprovider.html"
            markertype="org.seasar.dolteng.eclipse.htmlMapper"/>
      <imageprovider
            icon="icons/file_change.gif"
            id="org.seasar.dolteng.eclipse.imageprovider.di"
            markertype="org.seasar.dolteng.eclipse.diMapper"/>
      <imageprovider
            icon="icons/synced.gif"
            id="org.seasar.dolteng.eclipse.imageprovider.sql"
            markertype="org.seasar.dolteng.eclipse.sqlMapper"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.seasar.dolteng.eclipse.marker.PageMapper"
            markerType="org.seasar.dolteng.eclipse.pageMapper"/>
      <markerResolutionGenerator
            class="org.seasar.dolteng.eclipse.marker.HtmlMapper"
            markerType="org.seasar.dolteng.eclipse.htmlMapper"/>
      <markerResolutionGenerator
            class="org.seasar.dolteng.eclipse.marker.DIMapper"
            markerType="org.seasar.dolteng.eclipse.diMapper"/>
      <markerResolutionGenerator
            class="org.seasar.dolteng.eclipse.marker.KuinaDaoErrorReporter"
            markerType="org.seasar.dolteng.eclipse.kuinaError"/>
      <markerResolutionGenerator
            class="org.seasar.dolteng.eclipse.marker.SqlMapper"
            markerType="org.seasar.dolteng.eclipse.sqlMapper"/>
      <markerResolutionGenerator
            class="org.seasar.dolteng.eclipse.marker.SqlMapper"
            markerType="org.seasar.dolteng.eclipse.sqlErrorMapper"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.seasar.dolteng.eclipse.startup.EventRegister"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.seasar.dolteng.eclipse.preferences.DoltengPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.seasar.dolteng.eclipse.plugin.actionSet"
            label="Dolteng"
            visible="true">
         <menu
               id="org.seasar.dolteng.eclipse.editor.Actions"
               label="Dolteng"
               path="Navigate/additions">
            <separator name="additions"/>
         </menu>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenPagePairAction"
               definitionId="org.seasar.dolteng.eclipse.command.OpenPagePairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.OpenPagePairAction"
               label="%openPagePair.label"
               menubarPath="Navigate/org.seasar.dolteng.eclipse.editor.Actions/additions"
               style="push">
         </action>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenActionPairAction"
               definitionId="org.seasar.dolteng.eclipse.command.OpenActionPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.OpenActionPairAction"
               label="%openActionPair.label"
               menubarPath="Navigate/org.seasar.dolteng.eclipse.editor.Actions/additions"
               style="push"/>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenDaoPairAction"
               definitionId="org.seasar.dolteng.eclipse.command.OpenDaoPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.OpenDaoPairAction"
               label="%openDaoPair.label"
               menubarPath="Navigate/org.seasar.dolteng.eclipse.editor.Actions/additions"
               style="push"/>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenEntityPairAction"
               definitionId="org.seasar.dolteng.eclipse.command.OpenEntityPairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.OpenEntityPairAction"
               label="%openEntityPair.label"
               menubarPath="Navigate/org.seasar.dolteng.eclipse.editor.Actions/additions"
               style="push"/>
         <action
               class="org.seasar.dolteng.eclipse.action.OpenAsPagePairAction"
               definitionId="org.seasar.dolteng.eclipse.command.OpenAsPagePairAction"
               icon="icons/file_change.gif"
               id="org.seasar.dolteng.eclipse.OpenAsPagePairAction"
               label="%openPagePair.label"
               menubarPath="Navigate/org.seasar.dolteng.eclipse.editor.Actions/additions"
               style="push"/>
         </actionSet>
   </extension>
</plugin>
